<!-- /snippets/blog-article-casual.liquid -->
<article class="CasualArticleListing">
  {% if article.image %}
    <a href="{{ article.url }}">
      <img srcset="{{ article.image | img_url: '512x512', scale: 2 }} 2x" src="{{ article.image | img_url: '512x512' }}" alt="{{ article.title | escape }}">
    </a>
  {% endif %}
  <div class="CasualArticleListing__text">
    <a class="CasualArticleListing__name" href="{{ article.url }}"><h2 class="p">{{ article.title }}</h2></a>
    <span class="CasualArticleListing__title"><a href="{{ article.url }}">{{ article.title }}</a></span>
  </div>
</article>

