<!-- /snippets/collection-product.liquid -->
{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign sale_price = product.price | money_without_trailing_zeros %}

{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

<div class="CollectionProduct {{ column_width }}{% if sold_out %} sold_out{% endif %}{% if on_sale %} on_sale{% endif %}">
  {% if product.featured_image %}
    <a href="{{ product.url | within: collection }}">
      <img
        data-src="{{'loading.gif' | asset_url}}"
        src="{{ product.featured_image | img_url: '512x512' }}"
        alt="{{ product.featured_image.alt | escape }}"
      >
    </a>
  {% endif %}

  <p class="CollectionProduct__info">
    <a href="{{ product.url | within: collection }}" class="CollectionProduct__title">
      {% include 'product-title' with product:product %}
    </a>
    <span class="CollectionProduct__color">
    in {{product.metafields.c_f.colorway}} | 
    </span>
    <span class="CollectionProduct__price">
      {% if on_sale %}
        {{sale_price}}
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money_without_trailing_zeros %}
          {{ 'product.priced_from_html' | t: price: price }}
        {% else %}
          {{ product.price | money_without_trailing_zeros }}
        {% endif %}
      {% endif %}
      {% if on_sale %}
        <span class="hidden">{{ 'product.original_price' | t }}</span>
        <s>{{ product.compare_at_price | money_without_trailing_zeros }}</s>
      {% endif %}
    </span>
  </p>
  <button type="button" class="Btn Btn--small CollectionProduct__quickshop js-qvPopupShow" value="/products/{{product.handle}}">
    <span>Quick Shop</span>
    <img class="CollectionProduct__qv-loading" src="{{'loading.gif' | asset_url}}" alt="Loading..">
  </button>
</div>
