<!-- /snippets/form-recover.liquid -->

<div id="PasswordRecoverForm">
  {% form 'recover_customer_password' %}
    <h4 class="margin-bottom-2x center">{{ 'account.recover.message' | t }}</h4>

    <label class="hidden" for="RecoverEmail">{{ 'form.email' | t }}</label>
    <input placeholder="{{ 'form.email' | t }}" type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autofocus>

    <button class="Btn Btn--big LoginRegister__submit" type="submit">{{ 'account.recover.submit' | t }}</button>
    <div class="LoginRegister__links">
      <p class="cancel">{{ 'form.cancel'| t | customer_login_link }}</p>
    </div>
  {% endform %}
</div>
