<div id="ProductPhoto">
  <img srcset="{{ product.featured_image | img_url: '1024x1024', scale: 2 }} 2x" src="{{ product.featured_image | img_url: '1024x1024' }}"{% if image.alt %} alt="{{ image.alt | escape }}"{% endif %}>
</div>

{% if product.images.size > 1 %}
  <div id="ProductThumbs">
    {% for image in product.images %}
    <div>
      <img srcset="{{ product.featured_image | img_url: '512x512', scale: 2 }} 2x" src="{{ image | img_url: '512x512' }}"{% if image.alt %} alt="{{ image.alt | escape }}"{% endif %}>
    </div>
    {% endfor %}
  </div>
{% endif %}