<!-- /templates/customers/addressess.liquid -->

{% assign pagination = 6 %}
{% section 'account' %}

{% paginate customer.addresses by pagination %}

<div class="container l margin-bottom-10x s-margin-bottom-6x">
  <header class="center">
    <h1 class="AccountHeading">{{ 'account.address.title' | t }}</h1>
  </header>
  <hr>
  <section>
    {% if customer.addresses.size > 0 %}
      <div class="row">
        {% for address in customer.addresses %}
          <div class="column l3 m4 s12">
            <div class="Address center">
              <div class="Address__content">
                {% if address == customer.default_address %}
                  <label class="Address__default-label">({{ 'account.address.default' | t }})</label>
                {% else %}
                  <label class="Address__default-label"></label>
                {% endif %}

                <p>
                  {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                  <br>
                  {{ address.street }}<br>
                  {{ address.city | capitalize }},
                  {% if address.province_code %}
                    {{ address.province_code | upcase }}
                  {% endif %}<br>
                  {{ address.zip | upcase }}
                  {{ address.country }}
                </p>

                {% include 'popup-address' with 'edit' %}

                <p>
                  <a class="Address__link" href="#PopupAddress_{{ address.id }}" data-target="#PopupAddress_{{ address.id }}" data-trigger="popup">{{ 'account.address.edit' | t }}</a>
                  <a class="Address__link" href="#PopupAddressDelete_{{ address.id }}" data-target="#PopupAddressDelete_{{ address.id }}" data-trigger="popup">{{ 'account.address.delete' | t }}</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
          <div class="column l3 m4 s12">
            {% include 'popup-address' %}
            <a href="#PopupAddress" data-target="#PopupAddress" data-trigger="popup" class="Address Address--new">
              <div class="Address__content">
                {% include 'custom-icon' with icon: 'plus' %}
                <span>{{ 'account.address.add' | t }}</span>
              </div>
            </a>
          </div>
      </div>

      {% include 'theme-pagination' %}

      <br>
    {% else %}
      <p class="h4">{{ 'account.address.none' | t }}</p>
    {% endif %}


  </section>
</div>

<script>
  // Modified contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    destroy: function(id) {
      Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
    }
  }
  // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
    hideElement: 'AddressProvinceContainerNew'
  });
  // Setup province selector on each customer address
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
      hideElement: 'AddressProvinceContainer_{{ address.id }}'}
    );
  {% endfor %}
</script>

{% endpaginate %}
